

/*dropdown button*/
#dropdown-item-button {
	color: black !important;
	background-color: transparent !important;
	border: none !important;
	width: 200px !important;
	text-align: left !important;
}

._dropdown {
  display: inline-block;
  overflow: hidden;
  background-color: white;
  border: 1px solid #cccccc;
  color: black;
}

._dropdown a {
  color: black;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  cursor: pointer;
}

._dropdown ._dropbtn {
  border: none;
  outline: none;
  color: black;
  padding: 5px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

._dropdown:hover ._dropbtn {
  background-color: #eee;
}

._dropicon {
	margin-left: 80px !important;
	font-size: 24px;
}

._dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #cccccc;
  z-index: 1;
}

._dropdown-content a {
  font-size: 14px;
  float: none;
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: white;
}

._dropdown-content a:hover {
  background-color: #eee;
  text-decoration: none;
  color: black;
}

._dropdown:hover ._dropdown-content {
  display: block;
}